[Unit]
Description=CSYE 6225 App
ConditionPathExists=/home/csye6225/myapp/.env
After=network.target

[Service]
Type=simple
User=csye6225
Group=csye6225
WorkingDirectory=/home/csye6225/myapp
ExecStart=/usr/bin/node /home/csye6225/myapp/index.js --keep
Restart=on-failure
RestartSec=3
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=csye6225

[Install]
WantedBy=multi-user.target