[Unit]
Description=Cloud App
ConditionPathExists=/home/nologinusername/myapp/.env
After=network.target

[Service]
Type=simple
User=nologinusername
Group=nologinusername
WorkingDirectory=/home/nologinusername/myapp
ExecStart=/usr/bin/node /home/nologinusername/myapp/index.js --keep
Restart=on-failure
RestartSec=3
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nologinusername

[Install]
WantedBy=multi-user.target